<ng-container *ngIf="artist$|async as artist">
<app-show-hide-group>

  <app-show-hide [title]="'Artist Profile : ' + artist.name" [defaultOpenState]="true" [resetObservable]="reset$" [subtitle]="artist.realname" [image]="getPrimaryImage(artist.images)" [maxImageWidth]="250" [maxImageHeight]="200" >
    <ng-container *ngIf="artist.namevariations?.length > 0">
      <div >
        <!-- Kinda useless junk <i>ie <ng-container *ngFor="let namevariation of artist.namevariations; index as i;"><ng-container *ngIf="i > 0">,&nbsp;</ng-container>{{namevariation}}</ng-container></i> -->
      </div>
      <br>
    </ng-container>
    <div><app-discogs-markup-parser [discogsMarkup]="artist.profile"></app-discogs-markup-parser></div>
  </app-show-hide>

  <ng-container *ngIf="artist.images?.length > 1">
    <br>
    <app-show-hide  [title]="'Photo Gallery'" [defaultOpenState]="false" [resetObservable]="reset$">
      <app-gallery [images]="artist.images"></app-gallery>
    </app-show-hide>
  </ng-container>

  <br>
  <app-show-hide [title]="'Albums'" [defaultOpenState]="false" [resetObservable]="reset$" (open)="onAlbumsOpen(artist.name)"  >
      <app-album-list  [albums]="albums$|async"  (pageSelected)="onAlbumsPageSelected($event, artist.name)" ></app-album-list>
  </app-show-hide>

  <ng-container *ngIf="artist.groups?.length > 0" >
    <br>
   <app-show-hide [title]="'Groups'" [defaultOpenState]="false" [resetObservable]="reset$">
    <div *ngFor="let group of artist.groups">
      <a [routerLink]="['/Artists/ArtistDetail',group.id ]" >  {{group.name}}</a>
    </div>
   </app-show-hide>
  </ng-container>

  <ng-container *ngIf="artist.members?.length > 0">
    <br>
    <app-show-hide  [title]="'Members'" [defaultOpenState]="false" [resetObservable]="reset$">
      <div *ngFor="let member of artist.members">
        <a [routerLink]="['/Artists/ArtistDetail',member.id ]" > {{member.name}}</a>
      </div>
    </app-show-hide>
  </ng-container>

  <ng-container *ngIf="artist.urls?.length > 0">
    <br>
    <app-show-hide  [title]="'Links'" [defaultOpenState]="false" [resetObservable]="reset$">
      <div *ngFor="let url of artist.urls">
        <a [href]="url" target="_blank">{{url}}</a>
      </div>
    </app-show-hide>
  </ng-container>

  <ng-container *ngIf="artist.aliases?.length > 0">
    <br>
    <app-show-hide  [title]="'Aka'" [defaultOpenState]="false" [resetObservable]="reset$">
      <div *ngFor="let alias of artist.aliases">
        <a [routerLink]="['/Artists/ArtistDetail',alias.id ]" >  {{alias.name}}</a>
      </div>
    </app-show-hide>
   </ng-container>

</app-show-hide-group>
</ng-container>



