<ng-container *ngTemplateOutlet="template;context:{album:album$|async,release:release$|async, expandedTracks:expandedTracks$|async}"></ng-container>

<ng-template #template let-album="album" let-release="release" let-expandedTracks="expandedTracks"  >
<ng-container *ngIf="album && release">

  <app-show-hide [title]="'Album Profile : ' + album.title" [defaultOpenState]="true" [resetObservable]="reset$"  [image]="getPrimaryImage(album.images)" [maxImageWidth]="240" [maxImageHeight]="180" >

    <div *ngIf="album.artists?.length > 0">
      Artists :
        <span *ngFor="let artist of album.artists; index as i;">
          <a  [routerLink]="['/Artists/ArtistDetail' ,artist.id]" >{{artist.name}}</a> {{i < album.artists.length -1 ? ',':''}}
        </span>
    </div>
    <div *ngIf="release.labels?.length > 0">
      Labels :
        <span *ngFor="let label of getDistinctLabels( release.labels); index as i;">
          <a  [routerLink]="['/Labels/LabelDetail' ,label.id]" >{{label.name}}</a> {{i < getDistinctLabels( release.labels).length -1 ? ',':''}}
        </span>
    </div>
    <div>Year: {{album.year}}</div>
    <div *ngIf="album.genres?.length > 0" >Genres: {{album.genres.join()}}</div>
    <div *ngIf="album.styles?.length > 0">Styles: {{album.styles.join()}}</div>
    <div *ngIf="release.community?.rating">Rating: {{release.community.rating.average}}/5 ({{release.community.rating.count}} users) </div>
  </app-show-hide>

  <ng-container *ngIf="album.images?.length > 1">
    <br>
    <app-show-hide  [title]="'Photo Gallery'" [defaultOpenState]="false" [resetObservable]="reset$">
      <app-gallery [images]="album.images"></app-gallery>
    </app-show-hide>
  </ng-container>

  <br>

  <app-show-hide [title]="'Tracks'" [resetObservable]="reset$"   >
    <div *ngIf="showExpandAllTracks(album.tracklist)" style="font-style:italic;">
      <mat-checkbox (change)="expandTrackCredits(album.tracklist.length,$event.checked)">
        Show/hide all track credits
      </mat-checkbox>
      <br><br>
    </div>
    <div *ngFor="let track of album.tracklist; index as i">
      <ng-container *ngIf="!track.extraartists?.length" >
          {{track.position + ' - ' + track.title +  (track.duration? ' (' + track.duration + ')' : '') }}
      </ng-container>
      <ng-container *ngIf="track.extraartists?.length > 0" >
        {{track.position + ' - '}} <a href="javascript:void(0)" (click)="toggleTrackDetail(i)">{{track.title}} </a>  {{  track.duration? ' (' + track.duration + ')' : ''}}
        <ng-container  *ngIf="expandedTracks?.includes(i)">
          <div *ngFor="let extraArtist of track.extraartists" class="tracklistCredit">
              <a [routerLink]="['/Artists/ArtistDetail', extraArtist.id]" >{{extraArtist.name}}</a> - {{extraArtist.role}}
          </div>
        </ng-container>
      </ng-container>
    </div>
  </app-show-hide>

  <app-show-hide *ngIf="release.extraartists?.length > 0" [title]="'Credits'" [resetObservable]="reset$" >
    <div *ngFor="let artist of getSortedArtists(release.extraartists)">
      <a  [routerLink]="['/Artists/ArtistDetail' ,artist.id]" >{{artist.name}}</a> - {{artist.role}}
      <div class="tracklistCredit" *ngIf="artist.tracks">Tracks : {{artist.tracks}}</div>
    </div>

  </app-show-hide>
</ng-container>
</ng-template>
