<mat-card>

  <mat-card-header>

    <div mat-card-avatar>
      <button   *ngIf="isOpen$|async" mat-icon-button aria-label="Close" class="mat-primary" (click)="onClose()" >
        <mat-icon >expand_less</mat-icon>
      </button>

      <button  *ngIf="!(isOpen$|async)" mat-icon-button aria-label="Open" class="mat-primary" (click)="onOpen()" >
        <mat-icon >expand_more</mat-icon>
      </button>
    </div>

    <mat-card-title>
      {{title}}
    </mat-card-title>

    <mat-card-subtitle *ngIf="subtitle">
      {{subtitle}}
    </mat-card-subtitle>

  </mat-card-header>

  <div *ngIf="isOpen$|async" class="showHideContent" >
    <img *ngIf="getSizedImage(image, fullsizeImage$|async) as sizedImage" mat-card-image (click)="onImageClick()" [src]="image.uri" [ngStyle]="{'width':sizedImage.width + 'px','height':sizedImage.height + 'px' }"  >

    <mat-card-content >
      <br *ngIf="!image" >
      <ng-content></ng-content>
    </mat-card-content>
  </div>

</mat-card>
